.container {
    max-width: 600px;
    margin: 100px auto;
}

.col { 
    min-width: 100%;
    display: flex;
    margin: 5px;
    padding: 0;
    background-color: aliceblue;
    box-shadow: 1px 1px 5px rgb(93, 92, 92);
    border-radius: 10px;
    justify-content: space-between;

    img { 
        height: 100%;
        width: 150px;
        //object-fit: cover;
        margin: 0;
        border-radius: 10px;

    }

    p {
        font-size: 12px;
        text-align: left;
    }

    .col__btn {
        display: block!important;
        margin: 40px 0;
    }

    .btn { 
        border: 1px solid gray;
        font-size: 10px;
        width: 80px;
        margin: 5px 0;
    }

    .product-description {
        width: 80%;
        margin: 10px;
    }
}


